body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    text-align: center;
    background-color: #DDAFA6;
    color: black;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: larger;
    flex: 1 1 auto;
}

.gameArena {
    display: flex;
    justify-content: space-around;
    background-color: #D8DBE2;
    padding: 30px ;
    min-height: 250px;
    flex: 1 1 auto;

}

.playerArea, 
.compArea {
    display: flex;
    flex-direction: column;
    border: solid 5px #481620;
    justify-content: space-between;
    gap: 20px;
}

.playerArea > h3, 
.compArea > h3 {
    margin: 0;
    text-align: center;
    background-color: lightgray;
    padding: 8px;
}

.playerBtns > button, 
.compBtns > button {
    min-height: 150px;
    min-width: 150px;
    background-color: transparent;
    color: black;
    font-size: 21px;
    font-weight: bold;
    border: dashed thin #481620;
    flex: 1 1 auto;
}

.playerBtns, 
.compBtns {
    padding: 30px;
    margin-top: -20px;
}

.scoreArena {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #373F51;
    color: white;
    flex: 1 1 auto;

}

.displayScore {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    height: 227px;
}

.playerScore, 
.compScore {
    height: 125px;
    width: 500px;
    background-color: #D8DBE2;
    color: black
}

.playerScore > h3, 
.compScore > h3 {
    font-size: x-large;
}

.newGame {
    display: flex;
    justify-content: space-between;
    padding: 0 100px 0 100px;
    align-items: center;
    height: 78px;
    background-color: #DDAFA6;
    flex: 1 1 auto;
}

.newGame > button {
    height: 40px;
    width: 150px;
    font-weight: bold;
    border: solid black;
}

.click {
    border-color: #105028;
    box-shadow: 0 0 1rem #105028;
}